/* ~~~~~~~~~~ NORMALIZE USER-AGENT STYLING ~~~~~~~~~~ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
/* ~~~~~~~~~~ MAIN STYLING ~~~~~~~~~~ */
body {
    font-family: 'Merriweather', serif;
}

button {
    display: block;
}



/* ~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~ */

@media (min-width: 760px) {



}